#
# COPYRIGHT Ericsson 2023
#
#
#
# The copyright to the computer program(s) herein is the property of
#
# Ericsson Inc. The programs may be used and/or copied only with written
#
# permission from Ericsson Inc. or in accordance with the terms and
#
# conditions stipulated in the agreement/contract under which the
#
# program(s) have been supplied.
#
#  Note : These are the files that are zipped. Please list if any other openapi files need to be zipped.
#  documents name

documents:
    - name: User_Guide
      files:
        - ../markdown/User_Guide.md
        - ../markdown/pypi-server-architecture-design.png
        - ../markdown/pypi-server.png
    - name: Inner_Source_README
      files:
        - ../../README.MD
    - name: Contributing_Guideline
      files:
        - ../../CONTRIBUTING.md
    - name: Characteristics_Report
      files:
        - ../../build/docs/Characteristics-Report/characteristics_report.md