# Crdentials to be loaded when installing service in CI
# Format:
#        ENV Variable|credentialID|File to write secret(Application for secret files only , Not for secret text)
# Note:
#	1. For secret text the last column value should be NA
#	2. For secret file the last column value should be file name where the secret file should be written
#	3. The cluster-id will be appended to the credentail-id (format : credentialID-K8SClusterID)
INGRESS_HOST_NAME|pypi-lcm-host|NA
INGRESS_HOST_TLS_SECRET_MANIFEST|pypi-lcm-host-tls|build/lcm-package-repository-py-tls.yaml 
